/*-----------------------------------
    MEDIA QUERIES
-----------------------------------*/
@media all and (max-width: 640px) and (min-width: 381px) {
  .main-head {
    font-size: 28px;
  }
}

@media all and (max-width: 381px) and (min-width: 200px) {
  .main-head {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*-----------------------------------
    GENERIC STYLE
-----------------------------------*/
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: 14px;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.42857143;
  color: #dc143c;
  background-color: #fff900;
}

footer,
nav {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  line-height: 50px;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #dc143c;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

h2 {
  line-height: 50px;
  color: #dc143c;
}

h3 {
  line-height: 30px;
  padding-bottom: 20px;
}

h4 {
  padding-top: 25px;
  line-height: 40px;
  padding-bottom: 0px;
  font-size: 22px;
  font-weight: 900;
}

p {
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 15px;
}

.text-center {
  text-align: center;
}

.heading-padding {
  padding-bottom: 40px;
}

section {
  margin-top: 50px;
  padding-top: 50px;
}

.navbar {
  height: 105px;
  max-height: 340px;
  display: inline-block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

/*:after is now ::after with double colon*/
.clearfix::after,
.container::after,
.navbar::after {
  clear: both;
  display: table;
  content: " ";
}

.wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  /*This Ensures that the images cannot
        render outside of their container
        without forcing any scrollbars*/
  overflow: hidden;
  top: 0;
  left: 0;
  text-align: center;
}

.menu-container {
  max-height: 340px;
  margin: 0px auto;
  /* top:0;
        left:0;
        position: absoltue; */
  /*to the top edge of the screen*/
  width: 100%;
  position: fixed;
  z-index: 1;
}

/*-----------------------------------
    HOME SECTION STYLE
-----------------------------------*/
#home {
  background: url(../img/AmusementPark.jpg) no-repeat 50% 50%;
  background-attachment: scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -mox-background-size: cover;
  width: 100%;
  display: block;
  height: auto;
  padding-top: 200px;
  padding-bottom: 500px;
  align-items: center;
  text-align: center;
}

.head-main {
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 1);
  font-variant: small-caps;
  font-size: 5em;
  color: #fff900;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 2;
  font-weight: 900;
  border: 10px #000 double;
  border-radius: 0.5em;
  padding: 20px;
  z-index: 2;
}

.head-sub-main {
  font-size: 23px;
  font-weight: 500;
  padding: 50px 20px 10px 20px;
  text-transform: uppercase;
}

.head-last {
  font-size: 18px;
  font-weight: 900;
  padding: 50px 20px 10px 20px;
  border: 1px dotted #000;
  padding: 5px;
}

.main-text h2 {
  width: 70%;
  text-align: center;
  margin: 0px auto;
  color: #dc143c;
  font-weight: 500;
  font-size: 1.3em;
  letter-spacing: 0pt;
  word-spacing: 0pt;
}

.main-text h2 span {
  width: 70%;
  text-align: center;
  margin: 0px auto;
  color: #ffff00;
  font-weight: 900;
  font-size: 1.5em;
  font-variant: small-caps;
  letter-spacing: 0.4pt;
  word-spacing: 0.3pt;
}

.main-text p {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  color: #ffff00;
  width: 50%;
  margin: 0px auto;
}

/*-----------------------------------
    Menu Section Animation
-----------------------------------*/
.menu {
  color: #fff900;
  font: 20px/25px impact;
  text-align: center;
  display: inline;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.menu li {
  color: #0099ff;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 0% auto;
  position: relative;
  padding: 15px 2%;
  border: 1px solid #0099ff;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 25%;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.4s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

.menu li:hover {
  color: #dc143c;
  background-color: #0099ff;
  border: #dc143c solid 1px;
}
/*-----------------------------------
    Gellary Section Animation
-----------------------------------*/
p {
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 15px;
}
.photo-container {
  text-align: center;
  margin: 10px auto;
  width: 300px;
  height: 169px;
}

.photo-container img {
  max-width: 100%;
  width: 300px;
  height: 169px;
}
.photo {
  position: relative;
  line-height: 0;
  margin-bottom: 2em;
  overflow: hidden;
  border-radius: 10px;
  padding: 1px;
  border: 1px solid #000;
  background-color: #fff900;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.photo-overlay {
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0px 20px 0px;
  justify-content: center;
  /*For centering text inside .photo*/
  background-color: rgba(0, 0, 0, 0.1);
}

.white-head {
  color: #c9bdaa;
  margin-top: 5%;
  line-height: 30px;
  padding-bottom: 20px;
}

/*-----------------------------------
    Photo Overlay Transitions
-----------------------------------*/
.photo-overlay {
  opacity: 0;
  transition: 0.1s opacity;
  border-radius: 10px;
  cursor: pointer;
}

.photo-overlay p {
  width: 100%;
  height: 100%;
  color: #fff;
}

.photo-overlay:hover {
  opacity: 1;
}

.photo:hover img {
  transform: scale(1.1);
}

/*-----------------------------------
    Modal Styles
-----------------------------------*/
.row{overflow: scroll; float: left;}
.row > .column {
  padding: 0 10px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother*/
.column {
  float: left;
  width: 11%;
  overflow: hidden;
}

/* The Modal (Background)*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #060606;
}

/*Modal Content*/
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0px;
  width: 90%;
  max-width: 1200px;
}

/* Close Button*/
.close {
  color: #fefefe;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 10;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
}

/*Hide the slides by default*/
.mySlides {
  display: none;
}

/*Next & Previous Buttons*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  transition: 1s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the next button to right*/
.next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

/*On hover, add a black background color with little bit see through*/
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*Number text (1/4 etc)*/
.numberText {
  color: #fefefe;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0px;
}

/*Caption Text*/
.caption-container {
  text-align: center;
  background-color: #000;
  padding: 2px 16px;
  color: #fff;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.5s;
}

.hover-shadow:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.2);
}

/*-----------------------------------
    Video Styles
-----------------------------------*/
#videos {
  width: 70%;
  height: 700px;
  background-color: #ff7700bb;
  margin: 50px auto;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}
#videos .container {
  width: 100%;
  margin: 610;
}
.video-box {
  width: 100%;
  height: 600px;
  border: 5px groove #808080;
}
iframe {
  width: 1024px;
  height: 600px;
}
/*-----------------------------------
    Contact Us Styles
-----------------------------------*/
.flex-container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  margin: 0px auto;
  background-color: #dc143cbb;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5),
    2px 2px 10px 0 rgba(0, 0, 0, 0.8);
}

#contact {
  background-color: #ff7700bb;
}

.contactus {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  margin: 0px auto;
  background-color: #fff900;
  box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 0.5),
    1px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.contactus h2 {
  width: 70%;
  text-align: center;
  margin: 0px auto;
  color: #dc143c;
  font-weight: 500;
  font-size: 1.3em;
  letter-spacing: 0pt;
  word-spacing: 0pt;
}

.contactus h2 span {
  width: 70%;
  text-align: center;
  margin: 0px auto;
  color: #dc143c;
  font-weight: 900;
  font-size: 1.5em;
  font-variant: small-caps;
  letter-spacing: 0.4pt;
  word-spacing: 0.3pt;
}
.contactus p {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  color: #dc143c;
  width: 50%;
  margin: 0px auto;
}

.contactus form {
  font-size: 15px;
  outline: none;
  font-weight: 600;
  color: #ffff00;
  padding: 12px 12px;
  width: 70%;
  border: 3px solid #dc143c;
  margin: 2% auto;
  border-radius: 10px;
  background-color: #ff7700bb;
  box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.5);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contactus input {
  font-size: 15px;
  outline: none;
  font-weight: 600;
  padding: 2% 1% 2% 7%;
  width: 80%;
  color: #ffff00;
  border: 1px solid #dc143c;
  margin: 10px 1em;
  border-radius: 10px;
  background-color: #dc143c;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contactus input:hover {
  color: #dc143c;
  background-color: #fff900;
  box-shadow: 0 0 20px rgb(0, 0, 255, 0.8);
  border: 1px solid #fff900;
}

.form-spacer {
  padding: 30px 40px;
}

.terms {
  margin: 30px 1px 0px 0px;
  margin-top: 13%;
  padding-left: 52px;
  font-size: 14px;
  line-height: 5px;
  color: #ffff00bb;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 600;
  position: relative;
  display: inline;
  float: right;
}

.terms:hover {
  color: #dc143c;
  text-decoration: underline;
}

.submit input {
  background-color: #fff900;
  color: #dc143c;
  cursor: pointer;
  border: none;
  font-weight: 900;
  outline: none;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin: 0px 3%;
  padding: 7px 0px;
  width: 25%;
  font-size: 18px;
  /*transition: border-color 0.3s color 0.3s backgraund-color 0.3s;*/
  border-radius: 10px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
}

.submit input:hover {
  color: #fff900;
  background-color: #dc143c;
  box-shadow: 1px 2px 15px 0 rgba(0, 0, 0, 0.5);
  border: none;
}

/*---------------------------------------------------------
    Footer Styles
---------------------------------------------------------*/
#footer {
  background-color: #000;
  color: #ffff00;
  padding: 20px 50px 20px 50px;
  text-align: right;
}
