html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 98vw;
  height: 90vh;
  background-color: #f0dcca;
  color: #696d7d;
}

.container {
  margin: auto;
  width: 100%;
  height: 100%;
  display: inline;
}

.inner-box {
  margin: 50px auto;
  width: 90%;
  height: 90%;
  border: 5px double #696d7d;
  background-color: #cdc6a5;
}

#main-box {
  left: 0px;
  top: 0px;
  background-color: #f0dcca;
  max-width: 80%;
  height: 80%;
  margin: 50px auto;
  padding: 1%;
  align-items: center;
  border: 2px solid #696d7d;
}

.box {
  margin: 1% 1%;
  display: inline-block;
  width: 30%;
  height: 30%;
  border: 1px solid;
  text-align: center;
  position: relative;
}

#box1 {
  background-color: #e3b23c;
  animation: fromLeft 3s 0s;
}
#box2 {
  background-color: #99b2dd;
  animation: fromLeft 3s 2s;
}
#box3 {
  background-color: #d0e562;
  animation: fromLeft 3s 5s;
}
#box4 {
  background-color: #93c48b;
  animation: fromLeft 3s 8s;
}
#box5 {
  background-color: #d36135;
  animation: fromLeft 3s 11s;
}
#box6 {
  background-color: #0b3948;
  animation: fromLeft 3s 14s;
}
#box7 {
  background-color: #d972ff;
  animation: fromLeft 3s 17s;
}
#box8 {
  background-color: #8447ff;
  animation: fromLeft 3s 20s;
}
#box9 {
  background-color: #8cffda;
  animation: fromLeft 3s 23s;
}

@keyframes fromLeft {
  0%{
    top: 0px;
  }
  50%{
    top: -30%;
  }
  100%{
    top: 0px;
  }
}